* {
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
}

.wrapper {
    background: url(imgs/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.card {
    width: 350px;
    height: 550px;
    background-color: #eee999;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .top img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.card .bottom .info {
    text-align: center;
}

.card .bottom .info h1 {
    text-transform: capitalize;
    margin-top: 10px;
}

.card .bottom .info p {
    width: 250px;
    margin: auto;
    line-height: 1.2;
    margin-top: 10px;
    color: #777;
}

.card .bottom .offer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}

.card .bottom .offer h3,
.card .bottom .offer a {
    text-transform: capitalize;
}

.card .bottom .submit button {
    text-transform: capitalize;
    margin: auto;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    border-radius: 5px;
}

